/* Dropdown Button */
.dropbtn {
  background-color: #1E6432;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 250px;
}

.logoutbtn {
  background-color: #1E6432;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 100px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px white;
  z-index: 1;
}

.dropdown_button {
  background-color: white;
  color: F9900;
  padding: 10px;
  font-family:"Rubik", Sans-serif;
  font-size: 16px;
  width: 250px;
}

.dropdown_button:hover {
  background-color: #1E6432;
  color: white;
  padding: 10px;
  font-family:"Rubik", Sans-serif;
  font-size: 16px;
  width: 250px;
}


/* Links inside the dropdown */
.dropdown-content a {
  color: #1E6432;
  font-size: 10px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #1E6432;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #1E6432;}

.myprompt {
  background-color: #1E6432;
  width: 580px;
  text-align: left;
  padding: 10px;
  border-style: double;
  font-family:"Rubik", Sans-serif;
  color: white;
  border-color: #1E6432;
  border-radius: 5px;
  min-height: 40px;
  line-height: 18pt;
}

.myessay {
  background-color: white;
  width: 596px;
  text-align: left;
  font-family:"Rubik", Sans-serif;
  padding: 5px;
  border-style: double;
  border-color: #1E6432;
}

#logo{ 
	top:0; 
	left:0;
  padding: 10pt; 
  margin-left: 15pt;
} 

h1 {
  color: #1E6432;
  background-color: white;
  padding: 10pt;
}

textarea {
  color: #1E6432;
  font-size: 15px;
}


.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.un {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.pass {
        width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}

.submit {
  cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
    
    